/* Container holding the image and the text */
.content {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.round {
    background-color: transparent;
    border: 3px solid springgreen;
    height: 190px;
    width: 190px;
    border-radius: 100px;
    position: relative;
}
.circle {
    height: 150px;
    width: 150px;
    border-radius: 50px;
    position: relative;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.line {
    background: blue;
    height: 100px;
    width: 3px;
    position: absolute;
    bottom: 85%;
    left: 85%;
    transform: rotate(45deg);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    color: blue;
    top: 20px;
    left: 5px;
    font-size: x-large;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 40%;
    left: 65%;
    animation:blinkingText 1.2s infinite;
    transform: translate(-50%, -50%);
}

.blinking{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
