/* Container holding the image and the text */
.content {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.round {
    background-color: springgreen;
    opacity:0.6;
    border: 3px solid springgreen;
    height: 190px;
    width: 190px;
    border-radius: 100px;
    position: relative;
}
.circle {
    height: 150px;
    width: 150px;
    border-radius: 50px;
    position: relative;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.line1 {
    background: blue;
    height: 70px;
    width: 10px;
    position: relative;
    bottom: 10px;
    left: 5%;
    background-color: springgreen;
    transform: rotate(-60deg);
}
.line2 {
    background: blue;
    height: 70px;
    width: 10px;
    position: relative;
    bottom: 130px;
    left: 170px;
    background-color: springgreen;
    transform: rotate(55deg);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    color: blue;
    top: 20px;
    left: 5px;
    font-size: x-large;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.blinking_Old{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
    animation:blinkingText 1.2s infinite;
}
.blinking{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
    animation:blinkingGlasses 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: springgreen;    }
    49%{    color: purple; }
    60%{    color: cornflowerblue; }
    99%{    color:springgreen;  }
    100%{   color: indianred;    }
}
@keyframes blinkingGlasses{
    0%{     color: springgreen;    }
    49%{    color: purple; }
    60%{    color: cornflowerblue; }
    99%{    color:springgreen;  }
    100%{   color: indianred;    }
}

.transparent {
    background-color: rgba(255,255,255,0.5);
}