/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    color: blue;
    top: 20px;
    left: 5px;
    font-size: x-large;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blinking{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}