/* Container holding the image and the text */
.content {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.round {
    background-color: springgreen;
    opacity:0.6;
    border: 3px solid lightskyblue;
    height: 190px;
    width: 190px;
    border-radius: 100px;
    position: relative;
}
.circle {
    height: 150px;
    width: 150px;
    border-radius: 50px;
    position: relative;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.line1 {
    ;
    height: 110px;
    width: 10px;
    position: relative;
    bottom: 10px;
    left: 5%;
    background-color: springgreen;
    transform: rotate(-60deg);
}
.line2 {
    height: 65px;
    width: 10px;
    position: relative;
    bottom: 130px;
    left: 170px;
    background-color: springgreen;
    transform: rotate(55deg);
}
.line3 {
    height: 85px;
    width: 10px;
    position: relative;
    bottom: 80px;
    left: 5px;
    background-color: lightskyblue;
    transform: rotate(-90deg);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 40%;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    color: blue;
    top: 20px;
    left: 80%;
    font-size: x-large;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: small;
    color: darkblue;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.blinking{
    position: absolute;
    top: 20px;
    left: 80%;
    font-size: small;
    color: darkblue;
    animation:blinkingGlasses 1.2s infinite;
}
@keyframes blinkingGlasses{
    0%{     color: springgreen;    }
    49%{    color: purple; }
    60%{    color: cornflowerblue; }
    99%{    color:springgreen;  }
    100%{   color: indianred;    }
}

#pentagram {margin: 250px auto;}
#pentagram div {
    position:absolute;height:5px;border-radius:2px;
}

#star_1{transform:rotate(180deg) translateY(77px);background:#bb0000;width:476px;}
#star_2{transform:rotate(-36deg) translateY(77px);background:#bb0000;width:476px;}
#star_3{transform:rotate(36deg) translateY(77px);background:#bb0000;width:476px;}
#star_4{transform:rotate(108deg) translateY(77px);background:#bb0000;width:476px;}
#star_5{transform:rotate(-108deg) translateY(77px);background:#bb0000;width:476px;}

#out_1{transform:rotate(180deg) translateY(-202px);background:#00bb00;width:296px;margin-left:90px;}
#out_2{transform:rotate(-36deg) translateY(-202px);background:#00bb00;width:296px;margin-left:90px;}
#out_3{transform:rotate(36deg) translateY(-202px);background:#00bb00;width:296px;margin-left:90px;}
#out_4{transform:rotate(108deg) translateY(-202px);background:#00bb00;width:296px;margin-left:90px;}
#out_5{transform:rotate(-108deg) translateY(-202px);background:#00bb00;width:296px;margin-left:90px;}